<?php $this->view('header')?>
<div id="container">
	<h2 class="page_title"><?php echo $header_title?></a></h2>
	<form class="form" method="post">
		<input type="hidden" name="type_id" value="<?php echo $data['type_id']?>" />
		<input type="hidden" name="id" value="<?php echo $data['id']?>" />
		<p><label>接口名称：</label><input type="text" required="true" maxlength="20" name="title" value="<?php echo $data['title']?>" /></p>
		<p><label>接口URI：</label><input type="text" required="true" maxlength="50" name="uri" value="<?php echo $data['uri']?>" /></p>
		<p><label>请求方式：</label><select name="method_type"><option value="get">GET</option><option value="post" value="<?php echo $data['method_type'] == 'post' ? 'selected' : ''?>">POST</option></select></p>
		<p><label>需要授权：</label><input type="checkbox" name="is_authed" value="1" <?php echo $data['is_authed'] ? 'checked' : ''?> /></p>
		<p><label>接口描述：</label><textarea name="desc"><?php echo $data['desc']?></textarea></p>
		<fieldset class="param_block" id="request_param">
			<legend>请求参数</legend>
			<table>
				<thead>
					<tr>
						<th width="20%">参数名</th>
						<th width="10%">参数类型</th>
						<th width="5%">必填</th>
						<th width="20%">默认值</th>
						<th>描述</th>
						<th width="8%"></th>
					</tr>
				</thead>
				<tbody>
					<?php 
					if (count($data['request_param'])) {
						foreach ($data['request_param'] as $k => $v) {
					?>
					<tr>
						<td><input type="text" name="request_param[<?php echo $k?>][field]" required="true" value="<?php echo $v['field']?>" /></td>
						<td><select name="request_param[<?php echo $k?>][data_type]"><?php foreach($this->data_type as $line) {echo '<option value="' . $line . '" ' . ($v['data_type'] == $line ? 'selected' : '') . '>' . $line . '</option>';}?></select></td>
						<td><input type="checkbox" name="request_param[<?php echo $k?>][is_required]" value="1" <?php echo $v['is_required'] ? 'checked' : ''?> /></td>
						<td><input type="text" name="request_param[<?php echo $k?>][default]" value="<?php echo $v['default']?>" /></td>
						<td><input type="text" name="request_param[<?php echo $k?>][desc]" value="<?php echo $v['desc']?>" /></td>
						<td class="action"><a href="javascript:;" class="del_param" title="删除参数">删除</a> | <a href="javascript:;" class="insert_param" title="插入参数">插入</a></td>
					</tr>
					<?php } } ?>
				</tbody>
			</table>
			<p class="add_param">添加参数</p>
		</fieldset>
		<fieldset class="param_block">
			<legend>请求示例说明</legend>
				<textarea name="request_code"><?php echo $data['request_code']?></textarea>
		</fieldset>
		<fieldset class="param_block" id="result_param">
			<legend>返回参数</legend>
			<table class="dd">
				<thead>
					<tr>
						<th width="20%">参数名</th>
						<th width="10%">参数类型</th>
						<th width="5%">必传</th>
						<th width="20%">默认值</th>
						<th>描述</th>
						<th width="8%"></th>
					</tr>
				</thead>
				<tbody class="dd-list">
					<?php 
					if (count($data['result_param'])) {
						foreach ($data['result_param'] as $k => $v) {
					?>
					<tr class="dd-item">
						<td><input type="text" name="result_param[<?php echo $k?>][field]" required="true" value="<?php echo $v['field']?>" /></td>
						<td><select name="result_param[<?php echo $k?>][data_type]"><?php foreach($this->data_type as $line) {echo '<option value="' . $line . '" ' . ($v['data_type'] == $line ? 'selected' : '') . '>' . $line . '</option>';}?></select></td>
						<td><input type="checkbox" name="result_param[<?php echo $k?>][is_required]" value="1" <?php echo $v['is_required'] ? 'checked' : ''?> /></td>
						<td><input type="text" name="result_param[<?php echo $k?>][default]" value="<?php echo $v['default']?>" /></td>
						<td><input type="text" name="result_param[<?php echo $k?>][desc]" value="<?php echo $v['desc']?>" /></td>
						<td class="action"><a href="javascript:;" class="del_param" title="删除参数">删除</a> | <a href="javascript:;" class="insert_param" title="插入参数">插入</a></td>
					</tr>
					<?php } } ?>
				</tbody>
			</table>
			<p class="add_param">添加参数</p>
		</fieldset>
		<fieldset class="param_block">
			<legend>返回示例说明</legend>
				<textarea name="result_code"><?php echo $data['result_code']?></textarea>
		</fieldset>
		<p><input type="submit" value="提 交" /></p>
	</form>
</div>
<script type="text/javascript">
var request_param_index = <?php echo count($data['result_param']) + count($data['request_param'])?>;
</script>
<?php $this->view('footer')?>